# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info

# Environment
.env
*.env

# GCP Service Account Key
gcp-sa-key.json

# OS
.DS_Store
Thumbs.db
